#![enable(implicit_some)]
(
    emitters: [
        // flames
        (
            emit: (
                max_particles: 1024,
                max_bursts: 0,
                particles_per_burst: 1,
                burst_interval: 0.1,
                world_space: false,
                shape: Sphere (
                    origin: "0 0 0",
                    inner_radius: 0,
                    outer_radius: 10,
                ),
            ),
            init: (
                lifetime_min: 1,
                lifetime_max: 1.5,
                angle_min: 0,
                angle_max: 360,
                angle_axis: "0 0 1",
                angle_axis_spread: 0,
                direction: "0 0 1",
                direction_spread: 180,
                velocity_min: 5,
                velocity_max: 10,
                angular_velocity_min: -90,
                angular_velocity_max: 90,
            ),
            accel: (
                gravity: "0 0 5",
                linear_damp: 0,
                angular_damp: 0,
                radial_accel: 0,
                orbit_accel: 0,
                orbit_axis: "0 0 1",
            ),
            display: Sprite (
                material: "content/materials/effects/fire.mat.ron",
                size: [
                    ( time: 0.0, value: "1 1" ),
                    ( time: 1.0, value: "2 2" ),
                ],
                color: [
                    ( time: 0.0, value: "255 255 255 255" ),
                    ( time: 1.0, value: "255 255 255 0" ),
                ],
            ),
        )
    ]
)